
<div class="modal-dialog text-center" style="width: ;">
  <div class="col-sm-8">
    <div class="modal-content">
      <div class="col-12">
        <img src="src/app/img/user.png" width="60" height="60">
      </div>


      <!-- Login Form -->
      <form class="col-12">
        <div class="form-group">
          <input type="text" class="form-control bg-light text-center" name="usuario" placeholder="Usuario" >
        </div>
        <div class="form-group">
          <input type="text" id="password"  class="form-control bg-light text-center" name="login" placeholder="Contraseña">
        </div>
          
          <input type="submit" class="btn btn-info rounded" value="Ingresar">
        

      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">¿Olvidó su contraseña?</a>
      </div>



    </div>
  </div>

</div>