<div class="container h-100 align-middle"> 
<div class="row h-100 justify-content-center align-items-center main-section">
  <div class="col-sm-6 text-center">
    <div class="row body-form border rounded">
      <div class="col-12">
        <img src="src/app/img/user.png" width="60" height="60">
      </div>

      
      <!-- Login Form -->
      <form class="col-12" >
        <div class="form-group">
          <input type="text" class="border-0 form-control bg-light text-center" name="usuario" placeholder="Usuario" >
        </div>
        <div class="form-group">
          <input type="password" id="password"  class="border-0 form-control bg-light text-center" name="login" placeholder="Contraseña">
        </div>
          
          <input type="submit" class="button-shadow border-0 bg-info text-light rounded" value="Ingresar">
        

      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">¿Olvidó su contraseña?</a>
      </div>



    </div>
  </div>

</div>
</div>